<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include( "head.ejs" ); %>

    <title>edit page</title>
  </head>
  <body>
    <header>
      <%- include( "header.ejs" ); %>
    </header>
    <section class="block">
      <h1>更新フォーム</h1>
      <form action="/update/<%= book[0].title %>" method="POST">
        タイトル
        <input
          type="text"
          name="title"
          value="<%= book[0].title %>"
          required
        /><br />
        著者
        <input
          type="text"
          name="author"
          value="<%= book[0].author %>"
          required
        /><br />
        出版社
        <input
          type="text"
          name="publisher"
          value="<%= book[0].publisher %>"
          required
        /><br />
        評価
        <select name="good">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <br /><br />
        感想<br />
        <textarea
          name="feelings"
          rows="10"
          cols="40"
          value="<%= book[0].feelings %>"
        >
<%= book[0].feelings %></textarea
        >
        <br />
        <button type="submit">更新</button>
      </form>
      <br />
      <a href="/">TOP PAGE</a>
    </section>
  </body>
</html>
