<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include( "head.ejs" ); %>
  </head>
  <body>
    <header>
      <%- include( "header.ejs" ); %>
    </header>

    <title>蔵書管理システム(α)</title>

    <section class="block">
      <h2>蔵書を追加する</h2>

      <a href="/add">追加</a>
      <br />
    </section>

    <section class="block">
      <h2>蔵書リスト</h2>
      <table>
        <tr>
          <th>タイトル</th>
          <th>著者</th>
          <th>出版社</th>
          <th>評価</th>
          <th>投稿者</th>
          <th>投稿日時</th>
          <th>更新</th>
          <th>削除</th>
        </tr>
        <% book.forEach(function (value) { %>
        <tr>
          <td class="title">
            <a href="/detail/<%= value.id %>"><%= value.title %></a>
          </td>
          <td><%= value.author %></td>
          <td><%= value.publisher %></td>
          <td>
            <% for (let i = 0; i < value.colored; i++){ %>
            <span class="fa fa-star checked"></span>
            <% } %> <% for (let i = 0; i < value.uncolored; i++){ %>
            <span class="fa fa-star unchecked"></span>
            <% } %>
          </td>
          <td><%= value.contributor %></td>
          <td><%= value.month; %>/<%= value.date %></td>
          <td><a href="/edit/<%= value.title %>">更新</a></td>
          <td>
            <a
              href="/delete/<%= value.title %>"
              onClick="disp('<%= value.title %>'); return false;"
              >削除</a
            >
          </td>
        </tr>
        <% }); %>
      </table>
      <br />
    </section>
  </body>
</html>
